body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #282c34;
    color: white;
}

p {
    width: 1000px;
}

main {
    grid-area: main;
    margin-top: 100px;
}

:root {
    --nav-hover-color: #8997b3;
}

header {
    grid-area: header;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #282c34;
    overflow: visible;
    display: grid;
    grid-template-columns: 500px auto;
    padding-top: 10px;
    margin-left: 10px;

    height: 50px;
}

header h1 {
    margin: 0;
    width: 500px;
}

main {
    margin-left: 10px;
}

/*Navigation*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: inline-block;
}

/*main ul*/
nav ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

/*nav li item*/
nav ul li {
    float: left;
    position: relative;
    display: inline-block;
    width: 200px;
    font-size: 1.8em;
    cursor: pointer;
    margin: auto;

}


/*all nav a*/
nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
}

/*all nav a hover*/
nav ul li a:hover {
    background-color: var(--nav-hover-color);
    transition-duration: 0.3s;
}

/*Only on the top elements*/
nav ul li > a {
    border-right: 1px solid gray;
}

/*don't show border on the right*/
nav ul li:last-child > a {
    border: none;
}

/*drop menu*/
nav ul li .content {
    display: none;
    z-index: 1;
    width: 100%;
    background-color: #3b414d;
}

/*drop menu main hover*/
nav ul li:hover .content {
    display: block;
}

/*drop menu a*/
nav ul li .content a {
    padding: 8px 0 8px 0;
}

footer {
    margin-left: 10px;
    margin-bottom: 100px;
}