header {
    grid-area: header;
}

/*Navigation*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: rgb(176, 194, 206);
    width: 100%;
}

nav ul li {
    float: left;
    border-right: 1px solid gray;
    height: 100%;
    width: 19.9%;
    position: relative;
    display: inline-block;
}

nav ul li:hover {
    background-color: darkgray;
    color: #111111;
    transition-duration: 0.4s;
}

nav ul li div a {
    font-size: 18pt;
    display: block;
    color: #666666;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    height: 100%;
    width: 100%;
}



nav ul li > a button {
    font-size: 20pt;
    background-color: rgb(176, 194, 206);
    border: none;
    padding: 9px 0 9px 0;
    cursor: pointer;
    margin: auto;
    width: 100%;
}


nav ul li div {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
}

nav ul li:hover div {
    display: block;
    background-color: rgb(206, 224, 236);
}

nav ul li div a {
    text-decoration: none;
    color: black;
    font-size: 16pt;
}

nav ul li div a:hover {
    background-color: darkgray;
    color: #111111;
}
