.model {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    transform: scale(1);
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.model:hover {
    color: white;
    transform: scale(1.02);
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.model .model-info {
    visibility: hidden;

    height: 100%;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    line-height: 200px;
}

.model:hover .model-info {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

.model img {
    height: 200px;
}


.model-info-text {
    vertical-align: middle;
    display: inline-block;

    font-size: 1.5em;
}